<div class="container app-main-container">
    <h1>Interfaces</h1>

    <div class="row" ng-show="types">
      <div id="tab_qmgrs" class="col-sm-12">
        <section class="panel">
          <header class="panel-heading"> Interfaces list </header>

          <div class="panel-body">

              <table class="display table table-striped app-fixed-table app-table"
                id="table-types">
                <thead class="thead-dark">
                  <tr>
                    <th class="width-25pct">Name</th>
                    <th class="">Mode</th>
                    <th class="">Namespace</th>
                  </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of interfaces">
                    <td class="width-25pct"><a [routerLink]="['/interface', { id: i.id}  ]">{{ i.id }} </a></td>
                    <td>{{ i.mode }}</td>
                    <td> <a [routerLink]="['/types', { ns: i.namespace } ]">{{ i.namespace }} </a></td>
                  </tr>
                </tbody>
              </table>

          </div>
        </section>
      </div>
    </div>

  </div>

