<div class="container app-main-container" *ngIf="interface">
  <h1>{{ interface.id }}</h1>
  <h4> Interface Description</h4>
  <div class="row app-ma-4">
    <div class="col-lg-12">
      <h5 class="page-header">Details</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <table class="display table table-bordered table-striped app-fixed-table app-table">
        <tbody>
          <tr>
            <td> Namespace </td>
            <td> <a [routerLink]="['/types', { ns: interface.namespace } ]">{{ interface.namespace }} </a></td>
          </tr>
          <tr>
            <td> Mode </td>
            <td> {{ interface.mode }}</td>
          </tr>
          <tr>
            <td> Documentation </td>
            <td> {{ interface.documentation }}</td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h5>Properties</h5>
      <table class="display table table-bordered table-striped app-fixed-table app-table">
        <tbody>
          <tr *ngFor="let p of interface.properties">
            <td> {{ p.name }} </td>
            <td> {{ p.value }}</td>
          </tr>
      </table>
    </div>
  </div>

  <div class="row app-ma-4">
      <div class="col-md-8">
        <h3 class="page-header">Services:</h3>
      </div>
      <div class="col-md-4">
          <div class="input-group">
              <div class="input-group-prepend">
                  <div class="input-group-text">Filter:</div>
              </div>
              <input type="text" name="service"  [(ngModel)]="filter.name" placeholder=" Service name">
          </div>
        </div>
    </div>

  <div class="row" ng-show="services">
    <div id="tab_qmgrs" class="col-sm-12">
      <section class="panel">
        <header class="panel-heading"> </header>

        <div class="panel-body">
          <div class="app-main-content">
            <div class="">
              <div *ngFor="let s of services$ | async | generalfilter : filter : pagination | slice:(pagination.page-1)*pagination.itemsPerPage:pagination.page*pagination.itemsPerPage" class="app-ma-1">
                <app-service-item [service]="s"></app-service-item>
              </div>
            </div>
          </div>
          <div class="text-center">
           <ngb-pagination  [pageSize]="pagination.itemsPerPage" [collectionSize]="pagination.length" [maxSize]="5" [rotate]="true" [(page)]="pagination.page" [directionLinks]="true"  [boundaryLinks]="true"></ngb-pagination>
          </div>

        </div>
      </section>
    </div>
  </div>


</div>