<div class="container app-main-container" *ngIf="application">
	<h1>Application</h1>

	<div class="row">
		<div class="col-lg-12">
			<h3 class="page-header">Application : {{ application.fullName }}</h3>
		</div>
	</div>

 <app-accordion>
    <app-accordion-group heading="{{ ii.id }} - {{ ii.mode }}" *ngFor="let ii of application.interfaceInstances" [_isOpen]="ii.isOpen"> 
 					<table class="display table table-bordered table-striped app-fixed-table app-table">					
								<thead>
								  <tr>
									    <th>Service Name</th>
									    <th>Action</th>
								  </tr>
								</thead>
								<tbody>
								 <tr *ngFor="let s of ii.services">
									<td>{{ s.name }}</td>
										<td>
										  <span [hidden]="ii.mode != 'Client'">
										    <a [routerLink]="['/call', { app: application.id, ii: ii.id, svc: s.name } ]"><i class="fa fa-bug"></i> Test it ...</a>
										  </span>
										  </td>
										 </tr>
									</tbody>
								</table>							
		</app-accordion-group>
	</app-accordion>
		
<!-- 	{{ application | json }} -->
</div>		