<div class="container app-main-container">
	<h1>Types</h1>

	<div class="row" ng-show="types">
		<div id="tab_qmgrs" class="col-sm-12">
			<section class="panel">
        <header class="panel-heading"> <b>Namespace:</b> {{ (typeNamespace == '' ? "all" : typeNamespace) }}
          <span class="pull-right" *ngIf="typeNamespace"><a [routerLink]="['/types']" ng-show="(typeNamespace != '')"> Show all ...</a></span>
        </header>

				<div class="panel-body">
					<div class="app-main-content">


						<table class="display table table-bordered1 table-striped app-fixed-table app-table"
							id="table-types">
							<thead class="thead-dark">
								<tr>
									<th class="width-25pct">Type</th>
									<th class="">Namespace</th>
								</tr>
								<tr>
								 <th class="width-25pct">
								 	<input type="text" name="type"  (change)="applyFilters()"  [(ngModel)]="filter.name" placeholder="Type">
								 </th>
      							 <th><input [hidden]="typeNamespace != '' " type="text" name="namespace" (change)="applyFilters()" [(ngModel)]="filter.namespace" placeholder="Namespace"></th>
                </tr>
							</thead>
							<tbody>
							    <tr *ngFor="let t of filteredItems | slice:(page-1)*itemsPerPage:page*itemsPerPage">
									<td class="width-25pct"><a [routerLink]="['/type', { type: t.name, ns: t.namespace}  ]">{{ t.name }} </a></td>
									<td><a [routerLink]="['/types', { ns: t.namespace} ]">{{ t.namespace }} </a></td>
								</tr>
							</tbody>
						</table>
					</div>
				<div class="text-center">
					 <ngb-pagination  [pageSize]="itemsPerPage" [collectionSize]="length" [maxSize]="15" [rotate]="true" [(page)]="page" [directionLinks]="true"  [boundaryLinks]="true"></ngb-pagination>
				</div>

				</div>
			</section>
		</div>
	</div>

</div>
