.app-grey {
  color: #333;
  text-decoration: none;
  padding: 3px;
  display: block;
}

.app-disabled {
  color: #666;
  text-decoration: none;
  padding: 3px;
  display: block;
}

.app-grey a:hover {
  background-color: #e5e5e5;
  color: #555;
  text-decoration: none;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}


