<div class="container-fluid app-main-container">
  <h1>{{ service }}</h1>

  <div class="row" ng-show="serviceImpl">

    <div class="col-md-12">

      <div class="card">
        <div class="card-header">
         <h5>Service Description</h5>
        </div>
        <div class="card-block">

          <table class="display table table-striped app-fixed-table app-table app-no-bottom-m">
            <tr>
              <th>Application</th>
              <td><a [routerLink]="['/application', { id:application, ii: interface, im: 'Client' }  ]">{{ application
                  }}</a></td>
            </tr>
            <tr>
              <th>Interface</th>
              <td><a [routerLink]="['/interface', { id: interface } ]">{{ interface }} </a></td>
            </tr>
            <tr>
              <th>Program</th>
              <td><a [routerLink]="['/program', { name: serviceImpl.program } ]"><code>{{ serviceImpl.program }}</code></a></td>
            </tr>

          </table>


        </div>
      </div>


    </div>
  </div>
  <hr>

  <div class="row">

    <div class="col-md-6">
      <div class="card">

        <div class="card-header app-call-card-header">
          <div class="row">

            <div class="col-md-4">
              <h5>Request</h5>
              <!-- <em><span *ngIf="lastFileName">File name: {{ lastFileName }}.</span></em> -->
            </div>

            <div class="col-md-8 text-center">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                <div class="btn-group mr-2" role="group">
                  <label class="btn btn-sm btn-secondary">
                    <input type='file' class="form-control-plaintext" (change)="fileChanged($event)" style="display: none;">
                    <i class="fa fa-upload"></i><small>Upload</small>
                  </label>
                </div>
                <div class="btn-group mr-2" role="group">
                    <label class="btn btn-sm btn-secondary" role="button" (click)="prepareOutput()">
                      <i class="fa fa-gears"></i><small>Build</small>
                    </label>
                  </div>
                <div class="btn-group mr-2" role="group">
                    <label class="btn btn-sm btn-secondary" role="button" (click)="downloadXMLOutput()">
                      <i class="fa fa-download"></i> <small>XML</small>
                    </label>
                  </div>
                  <div class="btn-group mr-2" role="group">
                    <label class="btn btn-sm btn-secondary" role="button" (click)="downloadJSONOutput()">
                      <i class="fa fa-download"></i> <small>JSON</small>
                    </label>
                  </div>
                <div class="btn-group mr-2" role="group">
                  <label class="btn btn-sm btn-success" role="button" (click)="send()">
                    <i class="fa fa-share"></i> <small>Send</small>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card-block fnt-smxx container-fluid">
          <div class="row">
            <div class="col-md-12">

              <div class="app-object-tree-div">
                <app-object-tree [node]="rootProperty" root="true" *ngIf="rootProperty"> </app-object-tree>
              </div>

              <div class="card">
                <div class="well" *ngIf="output">
                  <pre><code>{{ output | json }}</code></pre>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card">


        <div class="card-header app-call-card-header">
          <div class="row">

            <div class="col-md-8">
              <h5>Response</h5>
              <em><span *ngIf="callElapsedTime">Elapsed time: {{ callElapsedTime }}ms.</span></em>
            </div>

            <div class="col-md-4">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar">
                <div class="btn-group mr-2" role="group" *ngIf="input">
                  <label class="btn btn-sm btn-secondary" role="button" (click)="downloadXML(input.data)">
                    <i class="fa fa-download"></i> <small>XML</small>
                  </label>
                </div>
                <div class="btn-group mr-2" role="group" *ngIf="input">
                  <label class="btn btn-sm btn-secondary" role="button" (click)="downloadJSON(input.data)">
                    <i class="fa fa-download"></i> <small>JSON</small>
                  </label>
                </div>
              </div>
            </div>

          </div>
        </div>


        <div class="card-block" *ngIf="input">
          <div class="well fnt-smxx">
            <pre><code>{{ input.data | json }}</code></pre>
          </div>

          <table class="display table table-bordered table-condensed app-fixed-table app-table">
            <thead>
              <tr>
                <th>Attribute</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Message ID</td>
                <td>{{input.ctx.MID}}</td>
              </tr>
              <tr>
                <td>Context ID</td>
                <td>{{input.ctx.CID}}</td>
              </tr>
              <tr>
                <td>Format</td>
                <td>{{input.ctx.FMT}}</td>
              </tr>
              <tr>
                <td>Persistance</td>
                <td>{{input.ctx.PERSISTANCE}}</td>
              </tr>
              <tr>
                <td>Priority</td>
                <td>{{input.ctx.PRIORITY}}</td>
              </tr>
              <tr *ngFor="let a of input.ctx.attributes">
                <td>{{a.name}}</td>
                <td>{{a.value}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    <pre><code>{{ rootProperty | json }}</code></pre> -->