<div class="row">

    <div class="col-md-12">
      <table class="display table table-bordered table-striped app-fixed-table app-table app-queue-table">
        <thead>
          <tr>
            <th rowspan="2" class="app-col-name">Queue</th>
            <th colspan="3" class=""><span class="text-center">Messages</span></th>
            <th rowspan="2">Handlers</th>
            <th colspan="4" class=""><span class="text-center">Puts</span></th>
            <th colspan="4" class=""><span class="text-center">Gets</span></th>
            <th colspan="4" class=""><span class="text-center">Waits</span></th>
          </tr>
          <tr>
              <th class="">Current</th>
              <th class="">Highest</th>
              <th class="">Size</th>

              <th class="">Min</th>
              <th class="">Avg</th>
              <th class="">Max</th>
              <th class="">Num</th>

              <th class="">Min</th>
              <th class="">Avg</th>
              <th class="">Max</th>
              <th class="">Num</th>

              <th class="">Min</th>
              <th class="">Avg</th>
              <th class="">Max</th>
              <th class="">Num</th>

            </tr>

          <tr>
            <th class="width-25pct">
              <input type="text" name="name" (change)="applyFilters()" [(ngModel)]="filter.name" placeholder="Queue">
            </th>
            <th colspan="18"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let q of filteredItems | slice:(page-1)*itemsPerPage:page*itemsPerPage">
            <tr>
              <td class="app-col-name"><a [routerLink]="['/queueBrowser', { queue: q.name, system: registryAlias}  ]">{{ q.name }} </a>
                  <app-progress-bar [percent]="100 * q.numMsgs / q.size"></app-progress-bar>
                </td>

              <td>{{ q.numMsgs }}</td>
              <td>{{ q.highWater }}</td>
              <td>{{ q.size }}</td>
              <td>{{ q.handers }}</td>

              <td>{{ q.puts.min }}</td>
              <td>{{ q.puts.avg }}</td>
              <td>{{ q.puts.max }}</td>
              <td>{{ q.puts.num }}</td>

              <td>{{ q.gets.min }}</td>
              <td>{{ q.gets.avg }}</td>
              <td>{{ q.gets.max }}</td>
              <td>{{ q.gets.num }}</td>

              <td>{{ q.waits.min }}</td>
              <td>{{ q.waits.avg }}</td>
              <td>{{ q.waits.max }}</td>
              <td>{{ q.waits.num }}</td>

            </tr>
          </ng-container>
          <tr *ngIf="filteredItems.length == 0">
            <td colspan="6">No items found.</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-md-12">
      <div class="text-center">
        <ngb-pagination [pageSize]="itemsPerPage" [collectionSize]="length" [maxSize]="15" [rotate]="true" [(page)]="page"
          [directionLinks]="true" [boundaryLinks]="true"></ngb-pagination>
      </div>
    </div>
  </div>