@font-face {
  font-family: 'Libre Franklin';
  src: url("/assets/fonts/LibreFranklin-Regular.ttf")
}

.app-logo {
	width:10em;
	height:2em;
    background-image: url('/assets/images/logo.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}

body{
	font-family: 'Libre Franklin', sans-serif;
}
.app-main-container{
    margin-top: 64px;
/*    min-height: 50em; */
}

.app-main-content{
    min-height: 40em;
}

/*.app-fixed-table { */
/*     table-layout: fixed; */
/*     word-wrap: break-word; */
/*     font-size: smaller; */
/* } */


.app-accordion-group{
	margin: 1em;
}
.width-25pct {
    width:25%
}

.width-33pct {
    width:33%
}

.width-50pct {
    width:50%
}

.app-table td {
    padding: .25rem;
}

.app-table th {
    padding: .25rem;
}

.text-center {
    display: flex !important;
    justify-content: center !important;
}

.fnt-lg{
	font-size: 120%;
}

.fnt-sm{
	font-size: 75%;
}

.fnt-xs{
	font-size: 60%;
}



/* Code CSS */
.rownum {
    width: 1%;
    min-width: 50px;
    padding-right: 10px;
    padding-left: 10px;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    font-size: 12px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    -moz-user-select: none;
    border-style: solid;
    border-color: #EEE;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    border-width: 0px 1px 0px 0px;
}

.source {
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    background : #eeeeec;
    font-size: 12px;
    vertical-align: top;
    width: 90%;
}

code{
    font-size: 80%;
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    color: #333;
    font-size: 16px;
    background : #eeeeec;
    white-space: pre;
}

.code-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

code .ias-ys-symbol{
    color: #800080;
}

code .ias-ys-string{
    color: #0000aa;
}

code .ias-ys-ns{
    color: #0000ff;
}

.app-btn-action{
  background-color: #bbb
}

.app-btn-send{
  background-color:#bbb;
}

.app-no-margin{
  margin: 0px;
}